//Font Family
$open-sans : 'Open Sans', sans-serif;
$monserrat: 'Montserrat', sans-serif;


//Font weight
$regular: 400;
$medium:500;
$semi-bold: 600;
$bold: 700;


//Font size
$xxxx-large: 130px;
$xxx-large: 100px;
$xx-large: 30px;
$x-large: 20px;
$largee:25px;
$large: 18px; 
$medium: 16px;
$small: 14px;
$x-small: 12px; 

//Colores
//First Color Scheme
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;
$celeste: #71cff5;

//Second color Scheme
$carmine-pink: #E94F37;
$salmon: #945248;

//Third color Scheme
$black: #000;
$black-olive: #393E41;
$granite-gray: #5D6163;
$old-silver: #818486;