//estilo pantalla grande
@media (min-width: 768px){
.contenedor__nav{
    display:flex;
    justify-content: space-between;
    margin:1rem;

    
&__lista ul{
    display:flex;
    list-style:none;
   
   
    
}
&__lista li{
margin:0.6rem;

}
}
}


//estilo pantalla movil
@media (max-width: 767.98px){
    .contenedor__nav{
        display:flex;
        justify-content: space-between;
        margin:1rem;
    
        
    &__lista ul{
       list-style:none;
          
    }
    &__icono{
        display:none;
    }
   
    &__lista li{
    margin:0.6rem;
    

    }
    }
    
}
